/* UserPayment.css */

/* Centering elements */
.center-content {
    text-align: center;
    margin-top: 20px;
}

/* Payment container */
.payment-container {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Invoice Popup */
.invoice-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    z-index: 1000;
}

.invoice-text {
    width: 100%;
    height: 200px;
    resize: none;
    margin-bottom: 10px;
}

.download-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.download-button:hover {
    background-color: #0056b3;
}

/* UserPayment.css */

/* Close button style */
.close-button {
    padding: 8px 16px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.close-button:hover {
    background-color: #aaa;
}

.payment-success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
    text-align: center;
}