* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.add-flight-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.add-flight-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.input-group label {
    margin-right: 10px;
}

.input-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #45a049;
}