.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background-color: #1976d2;
    margin: 0;
    padding: 0;
    box-shadow: 2px 2px 10px black;
}
.footerComp1 {
    margin-top: 2rem;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#planeLogo {
    height: 3rem;
    width: 3rem;
}
#titleLogo {
    margin-top: 0;
    margin-bottom: 1.2rem;
}
.footerComp2 {
    display: flex;
    flex-direction: row;
    margin-top: 0.3rem;
}
.footerComp2 a {
    text-decoration: none;
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
}
.footerComp2 a:hover {
    text-decoration: underline;
}
.footerCompIMGS {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.logos {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    color: white;
    height: 2rem;
    width: 2rem;
}
p {
    margin: 1rem;
}